@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.row__new {
    box-shadow: inset 5px 0 0 0 rgba(0, 239, 18, 1);
    background-color: rgba(0, 239, 18, 0.15);
}

.row__selected {
    box-shadow: inset 5px 0 0 0 rgba(0, 178, 255, 1);
    background-color: rgba(0, 178, 255, 0.15);
}

table th {
    padding: .25em;
}

table td {
    padding: .75em .25em;
    border: 1px solid gray;
}

:where(td, th):first-of-type {
    border-left: none;
}

:where(td, th):last-of-type {
    border-right: none;
}

:where(tr):last-of-type td {
    border-bottom: none;
}

tr td:first-of-type {
    /* box-shadow:inset 0px 0px 0px 2px white; */
}

/* :where(td, th):where(:first-of-type) input:not(:checked, :focus) {
    opacity: 0;
}

:where(td, th):where(:last-of-type) button:not(:focus) {
    opacity: 0;
}

:where(td, th):first-of-type:hover input {
    opacity: 1;
}

:where(td, th):last-of-type:hover button {
    opacity: 1;
} */
